.header {
  grid-area: h;
  background-color: #ec4646;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.header__logo {
  width: 200px;
}
.header__login {
  font-size: 20px;
}
