.menu {
  grid-area: m;
  background-color: rgb(52, 39, 240);
}
.menu__item {
  text-transform: uppercase;
  list-style-type: none;
}
.menu__item:not(:last-child) {
  margin-bottom: 20px;
}
.menu__item a {
  text-decoration: none;
  color: rgb(19, 18, 18);
  font-weight: 600;
}

.menu__item a.active {
  color: rgb(255, 255, 254);
}
