.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    " m c";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
}
